<div class="container">
  <div class="row">
    <h3>ジャンル一覧・追加</h3>
  </div>
  <div class="row"> 
      <%= form_with model:@genre, url: '/admin/genres', method: :post, local:true do |f| %>
        <%= f.label :ジャンル名 %>
        <%= f.text_field :name %>
        <%= f.submit '新規登録' %>
      <% end %>
  </div>
  <div class = "row">
    <div class = "col">
      <h3>ジャンル</h3>
      <br>
      <% @genres.each do |genre| %>
        <%= genre.name %>
        <%= link_to "Edit", edit_admin_genre_path(genre.id)%>
      <br>
      <% end %>
    </div>
  </div>
</div>