<h1>配送先編集</h1>

<%= form_with model: @shipping_address, url: shipping_address_path, method: :patch do |f| %>
   郵便番号(ハイフンなし)<%= f.text_field :post_code %>
   <br>
   住所<%= f.text_field :address %>
   <br>
   宛名<%= f.text_field :name %>
   <br>
  <%= f.submit '変更内容を保存' %>
<% end %>

