 <div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <div class="card-header">ジャンル一覧</div>
      <div class="card-body">
        <% @genres.each do |genre| %>
          <p class="card-text"><%= genre.name %></p>
        <% end %>
      </div>
    </div>
    <div class = "col-lg-8">
      <h3>商品一覧<span>(全<%= @items.count %>件)</span></h3>
    　<div class = "d-flex items-lists">
        <% @items.each do |item| %>
        　<div class="card" style="width: 14rem;">
        　   <%= link_to item_path(item.id) do %>
              <%= image_tag item.image, size:'160x120' %>
              <div class="card-body">
                <small>
                <p>商品名<br><strong><%= item.name %></strong></p>
                <p>商品説明<br><%= item.introduction %></p>
                <p>税込価格<br>¥<%= item.add_tax_price.to_s(:delimited) %></p>
                </small>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @items %>
    </div>
  </div>
</div>