<div class="container ml-4 mt-5">
  <div class="row">
    <div class="col-3">
      <div class="card-header text-white bg-dark ">ジャンル一覧</div>
      <div class="card-body">
        <% @genres.each do |genre| %>
          <p class="card-text"><%= genre.name %></p>
        <% end %>
      </div>
    </div>
    <div class = "col-lg-8">
      <h3>商品一覧<span>(全<%= @items.count %>件)</span></h3>
      <div class ="wrapper grid" >
        <% @items.each do |item| %>
          <div class="card" style="width: 16rem;">
            <%= link_to item_path(item) do %>
              <div class="card-img-top"><%= image_tag item.image, width:"254px", height:"185px" %></div>
              <div class="card-title"><h5 class="fw-bolder"><%= item.name %></h5></div>
              <div class="card-text"><p>商品説明<br><%= item.introduction %></p></div>
              <p class="text-right">¥<%= item.price.to_s(:delimited) %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @items %>
  </div>
</div>