 <div class="container">
  <div class="row">
    <div class="col-3">
      <h3 class="card-title shadow-none bg-light rounded">ジャンル一覧</h3>
      <p class="card-text">
        <% @genres.each do |genre| %>
        <%= genre.name %>
        <br>
        <% end %>
      </p>
    </div>

    <div class = "col-lg-8">
      <h3>
        商品一覧
        <span>
        (全<%= @items.count %>件)
        </span>
      </h3>
    　<div class="card-group">
        <% @items.each do |item| %>
        　<div class="card">
            <%= image_tag item.image %>
            商品名
            <%= link_to item_path(item.id) do %>  
            <%= item.name %>
            <% end %>
            商品説明
            <br>
            <%= item.introduction %>
            <br>
            税込価格　　
            ¥<%= item.add_tax_price.to_s(:delimited) %>
          </div>
        <% end %>
      </div>
      <%= paginate @items %>
   </div>
 </div>
</div>