<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand mr-5" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <p class="navbar-nav offset-1">
      <% if customer_signed_in? %>
        ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん！
      <% end %>
    </p>
    <div class="collapse navbar-collapse header-item" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li><%= link_to "商品一覧", admin_items_path %></li>
          <li><%= link_to "会員一覧", admin_customers_path %></li>
          <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
          <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        <% elsif customer_signed_in? %>
          <li><%= link_to "マイページ", customers_my_page_path %></li>
          <li><%= link_to "商品一覧", items_path %></li>
          <li><%= link_to "カート", cart_items_path %></li>
          <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "商品一覧", items_path %></li>
          <li><%= link_to "新規登録", new_customer_registration_path %></li>
          <li><%= link_to "ログイン", new_customer_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <a class="navbar-brand" href="index.html">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% if admin_signed_in? %>
            <li class="nav-item"><a class="nav-link" href="index.html">商品一覧</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">会員一覧</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">注文履歴一覧</a></li>
            <li class="nav-item"><a class="nav-link" href="pricing.html">ジャンル一覧</a></li>
            <li class="nav-item"><a class="nav-link" href="pricing.html">ログアウト</a></li>
          <% elsif customer_signed_in? %>
            <li class="nav-item"><a class="nav-link" href="index.html">マイページ</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">商品一覧</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">カート</a></li>
            <li class="nav-item"><a class="nav-link" href="pricing.html">ログアウト</a></li>
          <% else %>
            <li class="nav-item"><a class="nav-link" href="index.html">About</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">商品一覧</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">新規登録</a></li>
            <li class="nav-item"><a class="nav-link" href="pricing.html">ログイン</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>